*{
    margin: 0%;
    padding: 0%;
    font-family: JosefinSans-Light;
    text-rendering: geometricPrecision;
}
@font-face {
    font-family: JosefinSans-Light;
    src: url(fonts/Josefin_Sans/JosefinSans-Light.ttf);
}
@font-face {
    font-family: JosefinSans-Bold;
    src: url(fonts/Josefin_Sans/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: EyesomeScript;
    src: url(fonts/Eyesome/Eyesome\ Script.otf);
}
@font-face {
    font-family: EyesomeRegular;
    src: url(fonts/Eyesome/Eyesome\ Regular.otf);
}
@font-face {
    font-family: DancingScript;
    src: url(fonts/Dancing_Script/DancingScript-SemiBold.ttf);
}



body{
    background-color: white;
}



.bar{
    background-color: white;
    max-width: 100svw;
    height: auto;
    position: sticky;
    top: 0%;
}
.bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.5vh;
    list-style-type: none;
}
.bar .Menu{
    display: flex;
    align-items: center;
}
.bar .Menu li{
    width: 20vh;
    max-width: 20vw;
    margin: 2vh;
    text-align: center;
}
.bar .Menu li a{
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
.bar .Logo{
    margin: 0% 2vh;
    font-size: 5vh;
}
.bar .Logo a{
    color: black;
    text-decoration: none;
    font-family: EyesomeScript;
}
@media screen and (min-width: 80vh){
    .bar .active{
    font-size: 4vh;
    }
    .bar .Menu a:hover{
        font-size: 4vh;
    }
}



.Info-Obřad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}



.Info-Obřad .MJ img{
    width: 40svh;
    max-width: 50vw;
    margin-top: 8rem;
}



.Info-Obřad .Úvod-Text h2{
    font-size: calc(1.8vh + 0.5vw);
    max-width: 100vh;
    margin: 0rem 2rem 8vh 2rem;
    text-align: center;
}



.Info-Obřad .Nadpis h1{
    font-size: calc(2.5vh + 1.5vw);
    text-transform: uppercase;
    margin: 1rem;
    text-align: center;
}
.Info-Obřad .Mapa{
    width: 100%;
    height: 40vh;
}



.Info-Obřad .Kdy-Kde{
    min-width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.Info-Obřad .Kdy-Kde h2{
    font-family: DancingScript;
    font-size: calc(2vh + 0.5rem);
}
.Info-Obřad .Kdy-Kde h4{
    font-size: calc(2vh + 0.5rem);
}
.Info-Obřad .Kdy, .Info-Obřad .Kde{
    margin: 5vh;
}



.Info-Obřad .Doprava{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 8rem;
}



.Info-Obřad .Doprava .Left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.Info-Obřad .Doprava h1{
    font-family: JosefinSans-Bold;
    font-size: calc(2vh + 1vw);
    text-transform: uppercase;
    width: 100%;
}
.Info-Obřad .Doprava h2{
    font-size: calc(1.8vh + 0.5vw);
    max-width: 70vh;
}



.Info-Obřad .Doprava .Right img{
    max-width: 70vh;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 5px gray;
}



.Info-Obřad .Info-Bude{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    gap: 2vh;
}
.Info-Obřad .Info-Bude h2{
    font-family: JosefinSans-Light;
    font-size: calc(1.8vh + 0.5vw);
    max-width: 100vh;
    margin: 0% 8vh 20vh 8vh;
}
