*{
    margin: 0%;
    padding: 0%;
    font-family: JosefinSans-Light;
}




@font-face {
    font-family: JosefinSans-Light;
    src: url(fonts/Josefin_Sans/JosefinSans-Light.ttf);
}
@font-face {
    font-family: JosefinSans-Bold;
    src: url(fonts/Josefin_Sans/JosefinSans-SemiBold.ttf);
}
@font-face {
    font-family: EyesomeScript;
    src: url(fonts/Eyesome/Eyesome\ Script.otf);
}
@font-face {
    font-family: EyesomeRegular;
    src: url(fonts/Eyesome/Eyesome\ Regular.otf);
}
@font-face {
    font-family: DancingScript;
    src: url(fonts/Dancing_Script/DancingScript-SemiBold.ttf);
}



body{
    background-color: white;
}



@media (min-width: 155vh) {
    .Bar{
        background-color: white;
        max-width: 100svw;
        height: auto;
        position: sticky;
        top: 0%;
        z-index: 1;
    }
    .Bar ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 2.5vh;
        list-style-type: none;
    }
    .Bar .Header{
        display: flex;
        align-items: center;
    }
    .Bar .Header li{
        width: 20vh;
        max-width: 20vw;
        margin: 2vh;
        text-align: center;
    }
    .Bar .Header li a{
        color: black;
        text-decoration: none;
        transition: 0.2s;
    }
    .Bar .Header a:hover {
        font-size: 4vh;
    }
    .Bar .active {
        font-size: 4vh;
    }
    .Bar .MiriJožin{
        margin: 0% 2vh;
        font-size: 5vh;
    }
    .Bar .MiriJožin a{
        color: black;
        text-decoration: none;
        font-family: EyesomeScript;
    }
    .Bar .Menu{
        display: none;
    }
}


@media (max-width: 155vh){
    .Bar{
        background-color: white;
        max-width: 100svw;
        height: auto;
        position: sticky;
        top: 0%;
        z-index: 10;
    }
    .Bar ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 3vh;
        list-style-type: none;
    }
    .Bar .MiriJožin{
        margin: 0% 2vh;
        font-size: 5vh;
    }
    .Bar .MiriJožin a{
        color: black;
        text-decoration: none;
        font-family: EyesomeScript;
    }
    .Bar .MenuIcon{
        width: 2.5rem;
        height: 5vh;
        background-image: url("images/menu.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1.5rem;
    }

    .Bar .Navbar{
        height: 0%;
        overflow: hidden;
        transition: 1s;
        position: absolute;
        right: 0;
        background-image: linear-gradient(white 30%, rgba(255, 255, 255, 0.322));
        backdrop-filter: blur(10px);
        border-radius: 0rem 0rem 0rem 1rem;
        z-index: 9;
    }
    .Bar .Navbar li{
        width: 100vw;
        min-width: 20vh;
        margin: 2rem 0rem 2rem 1rem;
        text-align: center;
    }
    .Bar .Navbar li a{
        color: black;
        text-decoration: none;
        transition: 0.2s;
    }
    .Bar .Header a:hover {
        font-size: 4vh;
    }
    .Bar .active {
        font-size: 4vh;
    }
    #CheckBox:checked ~ .Navbar{
        height: 20rem;
        transition: 1s;
    }
    #CheckBox:checked ~ .Overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 9;
    }
    .Bar .Header{
        display: none;
    }
    #CheckBox{
        display: none;
    }
}



.Foto{
    max-width: 100%;
    min-height: 90svh;
    display: grid;
}
.Foto .Sekce{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.Foto .W1{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0.2rem 0.2rem 5px gray;
}
.Foto .H1{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0.2rem 0.2rem 5px gray;
}
.Foto .W{
    max-width: 40svh;
}
.Foto .H{
    max-height: 60svh;
}